$fondos:(
    bgpink: #FFC5D0,
    alternativepink: #F7D6D0,
);

$bgpink: map-get($fondos, bgpink);
$alternativepink: map-get($fondos, alternativepink);
$bground:rosadosalmon;

body{
    @if ($bground == rosadosalmon) {
        background-color: #FB6090;
    }
    @else if ($ground == negro) {
        background-color: #000000;
    }
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.Navbar{
    display: flex;
    flex-wrap: nowrap;
    background-color: $bgpink;
    height: 5rem;
    border: 2px solid black;
    .a{
  
        margin-left: 2rem;
        color: black;
        text-decoration: none;
    }
    
}
.logo{
    width: 10%;
}
.card{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
  
    background-color: #F7D6D0;
    border: 2px solid black;
    &:hover{
        transform: scale(1.1, 1.1);
    }
}
.anim{
    animation: fadein 3s;
}
.anim2{
    animation: fadein2 3s;
}
@keyframes fadein {
    0% {position:relative; left:-100%}
    70% {position:relative; left:0%}
    72% {position:relative; left:-2%}
    100% {position:relative; left:0%}
}
@keyframes fadein2 {
    0% {position:relative; left:200%}
    70% {position:relative; left:0%}
    72% {position:relative; left:2%}
    100% {position:relative; left:0%}
}

.row{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}
.rowgrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.nw{
    grid-template-rows: repeat(3 1fr);
    grid-template-areas:
    "ab ab c"
    "d e f"
}
.flex-space{
    display: flex;
    justify-content: space-around;
}
.smaller {
width: 60%;
}

.firstbox{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: larger;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:1%;
    
}

a{
    font-family: 'Arial Narrow'
}
.contact{
    font-family: 'Franklin Gothic Medium';
    font-size: larger;
    font-weight: bolder;
    text-decoration: solid;
    color: black;
}
.footer{
    background-color: #821D30;
    position:sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
}
.RecipeBox{
    margin: 2rem;
    padding: 2rem;
    background-color: $alternativepink;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.userbox{
    margin: 2rem;
    padding: 2rem;
    background-color: $alternativepink;
    .flexcolwrap{
        @extend .row;
        align-content: center;
        flex-direction: column;
    }
}
.recipedsc{
    margin: 2rem;
    padding: 2rem;
    background-color: white;
    font-family:'Roboto Condensed';
    border: solid #000000 5px;
}
.Recipe{
    max-width: 500px;
    max-height: 300px;
    transition: width 2s;

}

.formsection{
    margin: 2rem;
    padding: 2rem;
    background-color: $alternativepink;
}
.recipeflexbox{
display:flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
}
h4{
    text-align: center;
}
.userdsc{
    font-family:'Roboto Condensed';
    max-width: 250px;
    background-color: white;
    border: solid #000000 5px;
    padding: 1rem;
}
@mixin rowgrid($grid){
    display: grid;
    grid-template-columns: $grid;
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}
$grid1660: repeat(2, 1fr);
$grid1050: repeat(1, 1fr);

@media only screen and (max-width: 1660px){
    .rowgrid{
        @include rowgrid($grid1660)
    }
    .nw{
        grid-template-rows: repeat(2 1fr);
        grid-template-areas:
        "ab ab"
        "c d"
        "e f"
    }
    
}
    @media only screen and (max-width: 1050px){
        .rowgrid{
            @include rowgrid($grid1050)
        }
        .nw{
            grid-template-rows: repeat(1 1fr);
            grid-template-areas:
            "ab"
            "c"
            "d"
            "e"
            "f"

        }
    }
.ab{
    grid-area: ab
}
.c{
    grid-area: c
}
.d{
    grid-area: d
}
.e{
    grid-area: e
}
.f{
    grid-area: f
}

i{
    margin-left: 2rem;
}

